body
{
	background-color: #aed8e2;
}

h1
{
	float: center;
	text-align: center;
	color: blue;
	border: solid blue 2px;
	width: 300px;
}

nav
{
	position: fixed;
	display: block;
  margin: 0 auto;
  padding: 0;
  background-color: #5396ac;
	width: 100%;
	top: 0;
	height: 50px;
	text-color: #ecd9c6;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: #5396ac;;
}

#nav-item
{
	display: inline-block;
	color: black;
	text-align: center;
  padding: 14px 50px;
  text-decoration: none;
	font-family: "Open Sans Condensed";
	font-size: 18px;
}

#nav-item:hover
{
	background-color: #0086b3;
	color: blue;
}
